.watermark {
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    pointer-events: none;
}
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2980b9, #6dd5fa, #ffffff);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    margin: 0;
    color: white;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.main-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
    backdrop-filter: blur(12px);
    transition: transform 0.3s ease-in-out;
}

.main-container:hover {
    transform: scale(1.05);
}


h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}